.side-bar
  - if user_signed_in?
    - @genres.each do |genre|
      - if current_user.id == genre.user_id
        .genre__name
          = link_to "#{genre.name}", genre_contents_path(genre), class: 'genre__name__list'
          = link_to "編集", edit_genre_path(genre), class: 'genre__name__edit'
    = link_to ">>カレンダーへ", user_path(current_user.id), class: 'contents-title-link'


