.main-body
  .btns
    = link_to 'genres/new', class: "btns__new-memo" do
      登録  
  .btns
    = link_to '#', class: "btns__add-contents" do
      追加
  .btns
    = link_to '#', class: "btns__search" do
      検索