* {
  box-sizing: border-box;
}

.wrapper{
  min-height: 100vh;
}

.header {
  height: 80px;
  width: 100vw;
  line-height: 80px;
  background-color: #EEE8AA;
  display: flex;
  justify-content: space-evenly;
  &__search {
    height: 40px;
    width: 80px;
    border: solid 1px black;
    margin-top: 20px;
    background-color: #f3f3f3;
    &__btn {
      display: block;
      line-height: 40px;
      padding-left: 20px;
      font-size: 18px;
      color: black;
      text-decoration: none;
    }
  }
  &__title {
    width: 30%;
    font-size: 45px;
    font-family: 'arial black';
    color: #473838;
    &__link {
      text-decoration: none;
      color: black;
    }
  }
  &__btns {
    width: 15%;
    display: flex;
    &--signup {
      display: block;
      color: #473838;
      text-decoration: none;
    }
    &--login {
      display: block;
      color: #473838;
      text-decoration: none;
      padding-left: 30px;
    }
  }
}

.side-bar {
  height: calc(100vh - 80px);
  width: 20%;
  float: left;
  background-color: #DCDCDC;
  overflow: scroll;
  .genre__name {
    height: 30px;
    width: 100%;
    margin: 30px;
    line-height: 30px;
    font-size: 25px;
    font-family: 'arial unicode ms';
    &__list {
      text-decoration: none;
      color: black;
      
    }
  }
}


.main-body {
  height: calc(100vh - 80px);
  width: 80%;
  float: right;
  overflow: scroll;
  .explanation-text {
    margin: 50px 80px;
    color: red;
  }

  .form-box {
    height: 10%;
    width: 80%;
    margin: 50px 100px 100px 100px;
    #title-btn {
      margin-bottom: 10px;
    }
    
    &__genre__name {
      display: block;
      margin-bottom: 20px;
    }
    &__contents__title {
      display: block;
      margin-bottom: 20px;
    }
    &__contents__comment {
      display: block;
      width: 60%;
      margin-bottom: 20px;
    }
    &__new-memo {
      cursor: pointer;
    }
  }
  .contents {
    height: 70%;
    padding-top: 50px;
    .content {
      width: 100%;
      padding: 10px 50px 40px 50px;
      
      
      &__info {
        display: flex;
        &__title {
          height: 50px;
          line-height: 50px;
          font-size: 18px;
        }
        &__date {
          height: 50px;
          line-height: 50px;
          padding-left: 30px;
          font-size: 14px;
          font-family: 'Tahoma';
        }
      }
      &__comment {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
      }
    }
  }

}



button {
  margin-bottom: 10px;
  cursor: pointer;
}

// .footer {
//   height: 50px;
//   width: 100%;
//   border: solid 1px grey;
//   position: absolute;/*←絶対位置*/
//   bottom: 0; /*下に固定*/
//   padding-top: 80px;

// }