.content-edit-form {
  width: 40%;
  margin: 0px auto;
  margin-bottom: 50px;
  border: 1px solid #aaaaaa;
  background-color: #f5f5f3;
  label {
    color: #555555;
  }
  #title-btn {
    margin-bottom: 10px;
  }
  &__contents__title {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 3px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
    background-color: #f5f5f3;
  }
  &__contents__comment {
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    padding: 3px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
    background-color: #f5f5f3;
  }
  &__contents__start-time {
    border: none;
    outline: none;
    border-bottom: 1px solid #aaaaaa;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  #content_start_time_1i {
    margin-left: 20px;
  }
  &__contents__display {
    border: none;
    outline: none;
    border-bottom: 1px solid #aaaaaa;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  &__new-memo {
    width: 60px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid gray;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #0c161c;
    color: #f9fafa;
    cursor: pointer;
  }
}

.simple-calendar {
  width: 90%;
  height: 100%;
  flex: 1;
  margin: 20px auto;
  .calendar-heading {
    text-align: center;
    margin: 10px 0;
    a {
      text-decoration: none;
      color: #fa8072;
    }
    .calendar-title {
      font-size: 40px;
      margin-left: 10px;
    }
  }

  #content-title {
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
  }

  #content-start-time {
    font-size: 10px;
  }

  #content-delete-link {
    font-size: 8px;
  }

  .day {
    height: 150px;
  }

  .wday-0 {
    background-color: #fff0f5;
  }
  .day.wday-0.past.prev-month {
    background-color: #eeeeee;
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
    background-color: #ccffff;
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    background-color: #eeeeee;
    color: #cccccc;
    #content-title {
      color: #cccccc;
    }
    #content-delete-link {
      color: #cccccc;
    }
  }
  .next-month {
    background-color: #eeeeee;
    color: #cccccc;
  }
  .current-month {
  }

  .has-events {
  }
}
