.simple-calendar {
  width: 90%;
  height: 100%;
  flex: 1;
  margin: 20px auto;
  .calendar-heading {
    text-align: center;
    margin: 10px 0;
    a {
      text-decoration: none;
      color: #fa8072;
    }
    .calendar-title {
      font-size: 40px;
      margin-left: 10px;
    }
  }

  #content-title {
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
  }

  #content-start-time {
    font-size: 10px;
  }

  #content-delete-link {
    font-size: 8px;
  }

  .day {
    height: 150px;
  }

  .wday-0 {
    background-color: #fff0f5;
  }
  .day.wday-0.past.prev-month {
    background-color: #eeeeee;
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
    background-color: #ccffff;
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    background-color: #eeeeee;
    color: #cccccc;
  }
  .next-month {
    background-color: #eeeeee;
    color: #cccccc;
  }
  .current-month {
  }

  .has-events {
  }
}
