* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #ffa500;
  display: flex;
  justify-content: space-around;
  position: relative;
  &__menu {
    color: #f9fafa;
    font-size: 40px;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }
  &__genres {
    color: #f9fafa;
    font-weight: bold;
    cursor: pointer;
  }
  &__title {
    &__link {
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #f9fafa;
    }
  }
  &__search {
    display: flex;
    &--btns {
      margin-right: 5px;
    }
    &--form {
      i.fa.fa-search {
        font-size: 20px;
        color: #f5f5f3;
        cursor: pointer;
      }
    }
    &__contents__title {
      padding: 5px;
      border-radius: 4px;
      border: solid 1px #0c161c;
      background-color: #f5f5f3;
    }
  }
}

.submit-btn {
  background-color: #0c161c;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.submit-btn.search {
  padding-top: 5px;
  padding-bottom: 3px;
  margin-left: 0px;
  font-size: large;
  color: #f5f5f3;
}

.submit-btn.post {
  padding: 3px;
}

i.fas.fa-plus {
  font-size: 20px;
  color: #f5f5f3;
}

.container {
  flex: 1;
  height: 100vh;
  display: flex;
  background-color: #f6f6f4;
  position: relative;
  left: 0;
  overflow-x: hidden;
}

.side-bar {
  height: 100%;
  width: 250px;
  position: relative;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #ffa500;
  overflow: scroll;
  .genre-name {
    &__edit {
      font-size: 15px;
      font-family: sans-serif;
      margin-left: 5px;
      color: #f5f5f3;
      text-decoration: none;
    }
    &__delete {
      font-size: 15px;
      font-family: sans-serif;
      margin-left: 5px;
      color: #f5f5f3;
      text-decoration: none;
    }
  }
  .contents-title-link {
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
  }
}

.menu-container {
  height: 100%;
  width: 250px;
  background-color: #ffa500;
}

.side-bar-top {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.mic-btn {
  margin: 5px;
  padding-top: 5px;
  padding-left: 8px;
  background-color: #0c161c;
  border-radius: 4px;
  cursor: pointer;
  color: #f9fafa;
  outline: none;
}

.menu-list li {
  color: #f9fafa;
  padding: 10px 20px;
}

.menu-list {
  width: 100%;
  background-color: #ffa500;
  color: #f9fafa;
  margin-bottom: 50px;
  &__genres {
    font-size: 20px;
    font-weight: bold;
  }
  &__info {
    font-size: 20px;
    font-weight: bold;
  }
  &__link--name {
    text-decoration: none;
    color: #f9fafa;
    margin-left: 20px;
  }
}

.genre-list li {
  color: #f9fafa;
  padding: 10px 20px;
}

.genre-list {
  width: 100%;
  background-color: #ffa500;
  color: #f9fafa;
  &__info {
    font-size: 20px;
    font-weight: bold;
  }
  &__link--name {
    text-decoration: none;
    color: #f9fafa;
    margin-left: 20px;
  }
}

.genre-form {
  font-size: 15px;
  padding: 2px;
  padding-left: 5px;
  border-radius: 4px;
  border: solid 1px #0c161c;
  background-color: #f5f5f3;
}

.main-body {
  height: 100%;
  width: 100%;
  background-color: #f6f6f4;

  .explanation-text {
    width: 60%;
    margin: 50px auto;
    color: red;
    text-align: center;
  }

  .field-content {
    color: #f9fafa;
  }

  #switch-btn {
    border-radius: 4px;
    outline: none;
    display: block;
    margin-bottom: 20px;
    background-color: #0c161c;
    color: #f5f5f3;
  }

  .form-box {
    width: 40%;
    margin: 0px auto;
    margin-bottom: 50px;
    border: 1px solid #aaaaaa;
    position: absolute;
    top: 150px;
    left: 25%;
    background-color: #fff;
    display: none;
    label {
      color: #555555;
    }

    #title-btn {
      margin-bottom: 10px;
    }
    &__contents__title {
      border: none;
      outline: none;
      font-size: 16px;
      padding: 3px 10px;
      margin-left: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #aaaaaa;
      background-color: #f5f5f3;
    }
    &__contents__comment {
      border: none;
      outline: none;
      resize: none;
      font-size: 16px;
      padding: 3px 10px;
      margin-left: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #aaaaaa;
      background-color: #f5f5f3;
    }
    &__contents__start-time {
      border: none;
      outline: none;
      border-bottom: 1px solid #aaaaaa;
      height: 50px;
      padding: 5px;
      font-size: 15px;
      margin-bottom: 20px;
      background-color: #f5f5f3;
    }
    #content_start_time_1i {
      margin-left: 20px;
    }
    &__contents__display {
      border: none;
      outline: none;
      border-bottom: 1px solid #aaaaaa;
      height: 50px;
      padding: 5px;
      font-size: 15px;
      margin-left: 20px;
      margin-bottom: 20px;
      background-color: #f5f5f3;
    }
    &__new-memo {
      width: 60px;
      line-height: 35px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #aaaaaa;
      margin-left: 20px;
      margin-bottom: 20px;
      background-color: #0c161c;
      color: #f9fafa;
      cursor: pointer;
    }
  }
  .contents {
    height: 70%;
    width: 80%;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    .content {
      width: 24%;
      margin: 0px 5px;
      border-top: 2px solid #ffffff;
      color: #f9fafa;
      &__info {
        &__title {
          height: 50px;
          line-height: 50px;
          font-size: 18px;
        }
        &__date {
          height: 30px;
          line-height: 50px;
          font-size: 14px;
          font-family: "Tahoma";
        }
      }
      &__comment {
        width: 100%;
        font-size: 18px;
      }
      &__updated {
        font-size: 11px;
        font-family: "Tahoma";
        color: #aaaaaa;
      }
      &__edit-link {
        color: #0000cc;
        margin-left: 5px;
        text-decoration: none;
      }
      &__delete-link {
        color: #770000;
        text-decoration: none;
      }
    }
  }
}

.contents-tb {
  width: 100%;
  margin-bottom: 50px;
  background-color: #fff;
}

.content-tr {
  width: 100%;
  border: 1px solid #aaaaaa;
}

.content-th-genre {
  width: 8%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #aaaaaa;
}

.content-th-title {
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #aaaaaa;
}

.content-th-memo {
  width: 32%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #aaaaaa;
}

.content-th-start_time {
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #aaaaaa;
}

.content-th-updated_at {
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
}

.content-genre {
  width: 8%;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  border: 1px solid #aaaaaa;
  a {
    text-decoration: none;
    color: #aaaaaa;
  }
}

.content-title {
  width: 20%;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
}

.content-comment {
  width: 32%;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
}

.content-start_time {
  width: 20%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  text-align: center;
}

.content-updated_at {
  width: 20%;
  padding: 5px 1px;
  font-size: 12px;
  text-align: center;
}

.explanation-info {
  margin: 0 auto;
  &__text {
    width: 60%;
    text-align: center;
    font-size: 25px;
    font-family: "arial unicode ms";
    margin: 50px auto;
  }
  &__img {
    width: 60%;
    text-align: center;
    margin: 50px auto;
  }
  &__image {
    width: 300px;
    height: 300px;
  }
}

.search-icon {
  width: 10px;
  height: 10px;
}

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ffa500;
  a {
    color: #f9fafa;
  }
}
